html {
  box-sizing: border-box;
}

body {
  background-image: url('../images/site/small_check.jpg');
  padding: 0;
}

.weird {
  background: #ffffff;
  border: 5px solid #4c86d7;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

input:focus:invalid {
  outline: none;
  border: none;
  box-shadow: 0 0 5px #d76f4c;
  transition: 0.3s ease-in-out;
  /* border: 2px solid red; */
}

input:focus:valid {
  outline: none;
  border: none;
  box-shadow: 0 0 5px #4ca6d7;
  transition: 0.3s ease-in-out;
}

.message {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  /* border: 4px solid #4c86d7; */
  background: #0264ee;
  color: #ffffff;
  font-weight: 800;
  width: 23%;
  margin: 0 auto;
  margin-bottom: 40px;
  box-shadow: 2px 2px 5px #000;
  font-size: 1.3em;
}

.user {
  display: flex;
  align-items: center;
}

.response {
  box-shadow: 2px 2px 5px #000;
  padding: 15px;
  z-index: 2;
  border-radius: 10px;
  background: #4c86d7;
  color: #ffffff;
  font-size: 1.2em;
  margin: 0 auto;
  width: 15%;
  text-align: center;
  margin-top: 30px;
  font-weight: 800;
}

.info p {
  margin: 0;
}
.info h1 {
  text-align: start;
}

.logout {
  margin-left: 10px;
}

.log {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  margin: 0 auto;
}

header {
  background: #ffffff;
}

main {
  margin: 0;
}

header .account {
  display: flex;
  justify-content: space-between;
}

header .account a {
  color: #3a3a3a;
  text-decoration: none;
  align-self: center;
  justify-self: start;
  margin-right: 20px;
}

header a:hover {
  color: #939292;
}

header ul {
  background: #3a3a3a;
  padding: 18px;
  height: 100%;
  text-decoration: none;
  list-style-type: none;
  display: flex;
}

header ul a {
  text-decoration: none;
  height: 100%;
  color: #ffffff;
  padding: 20px;
}

header ul a:hover {
  transform: scale(1.2);
  background: #4c86d7;
  color: #ffffff;
}

h1 {
  text-align: center;
}

footer p {
  margin-bottom: 5px;
}

footer {
  background: #303031;
  color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
}

fieldset {
  display: flex;
}
