/*#bababa
 #8d8d8d
 #a6cbeb
 #4c96d7
 #3a3a3a
 #fffff   


*/

html {
  box-sizing: border-box;
}

body {
  background-image: url('../images/site/small_check.jpg');
  padding: 0;
}

.weird {
  background: #ffffff;
  border: 5px solid #4c86d7;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

main {
  margin: 0 auto;
}

header {
  background: #ffffff;
}

main {
  margin: 0;
  background: #ffffff;
}

header .account {
  display: flex;
  justify-content: space-between;
}

header .account a {
  color: #3a3a3a;
  text-decoration: none;
  align-self: center;
  justify-self: start;
  margin-right: 20px;
}

header ul {
  background: #3a3a3a;
  padding: 18px;
  height: 100%;
  text-decoration: none;
  list-style-type: none;
  display: flex;
}

ul a {
  text-decoration: none;
  height: 100%;
  color: #ffffff;
  padding: 20px;
}

ul a:hover {
  transform: scale(1.2);
  background: #4c86d7;
  color: #ffffff;
}

h1 {
  text-align: center;
}

.hero {
  position: relative;
  display: flex;
  overflow: hidden;
}

.hero img {
  position: relative;
  display: flex;
  max-width: 1300px;
  width: 100%;
}

main form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 80px;
  box-shadow: 2px 3px 13px;
  /* overflow: hidden; */
  padding: 30px;
  border-radius: 20px;
  position: relative;
}

#span {
  font-size: 1em;
  color: #000;
}

main form input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

/* input:required:invalid, input:focus:invalid {
  border: 2px solid red;
} */

input:focus:invalid {
  outline: none;
  border: none;
  box-shadow: 0 0 5px #d76f4c;
  transition: 0.3s ease-in-out;
  /* border: 2px solid red; */
}

input:focus:valid {
  outline: none;
  border: none;
  box-shadow: 0 0 5px #4ca6d7;
  transition: 0.3s ease-in-out;
}

form span {
  /* margin: 0; */
  margin-top: 10px;
  text-align: center;
}
main form button {
  display: flex;
  width: 100%;

  margin-top: 20px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  padding: 15px;
  background: #4270b1;
  outline: none;
  border: none;
  color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-weight: 900;
  font-size: 1em;
}

main {
  position: relative;
}

.response {
  box-shadow: 2px 2px 5px #000;
  padding: 20px;

  z-index: 2;
  border-radius: 10px;
  background: #4c86d7;
  color: #ffffff;
  font-size: 1.2em;
  margin: 0 auto;
  width: 30%;
  text-align: center;
  margin-top: 30px;

  font-weight: 800;
}

main form {
  background: #ffffff;
}

main span {
  color: #ff0000;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 900;
}

main span a:hover {
  text-decoration: underline;
}

main form button:hover {
  background: #3a3a3a;
}

main form h1 {
  margin: 0;
}

.reviews li {
  font-size: 1.4em;
  margin-bottom: 40px;
}

footer p {
  margin-bottom: 5px;
}

footer {
  background: #303031;
  color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
}
