html {
  box-sizing: border-box;
}

body {
  background-image: url('../images/site/small_check.jpg');
  padding: 0;
}
.message {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  /* border: 4px solid #4c86d7; */
  background: #4c86d7;
  color: #ffffff;
  font-weight: 800;
  width: 23%;
  margin: 0 auto;
  margin-bottom: 40px;
  box-shadow: 2px 2px 5px #000;
  font-size: 1.3em;
}
.user {
  display: flex;
  align-items: center;
}

.logout {
  margin-left: 10px;
}

.response {
  box-shadow: 2px 2px 5px #000;
  padding: 15px;
  z-index: 2;
  border-radius: 10px;
  background: #4c86d7;
  color: #ffffff;
  font-size: 1.2em;
  margin: 0 auto;
  width: 15%;
  text-align: center;
  margin-top: 30px;
  font-weight: 800;
}

.log {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weird {
  background: #ffffff;
  border: 5px solid #4c86d7;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

main {
  margin: 0 auto;
}

header {
  background: #ffffff;
}

main {
  margin: 0;
}

header .account {
  display: flex;
  justify-content: space-between;
}

header .account a {
  color: #3a3a3a;
  text-decoration: none;
  align-self: center;
  justify-self: start;
  margin-right: 20px;
}

header ul {
  background: #3a3a3a;
  padding: 18px;
  height: 100%;
  text-decoration: none;
  list-style-type: none;
  display: flex;
}

header ul a {
  text-decoration: none;
  height: 100%;
  color: #ffffff;
  padding: 20px;
}

header ul a:hover {
  transform: scale(1.2);
  background: #4c86d7;
  color: #ffffff;
}

h1 {
  text-align: center;
}

.hero {
  position: relative;
  display: flex;
  overflow: hidden;
}

.hero img {
  position: relative;
  display: flex;
  max-width: 1300px;
  width: 100%;
}

main ul li a {
  color: #000;
  /* text-decoration: none; */
}

.cte {
  position: absolute;
  padding: 20px;
  box-shadow: 2px 2px 10px;
}
.reviews li {
  font-size: 1.4em;
  margin-bottom: 40px;
}

footer p {
  margin-bottom: 5px;
}

footer {
  background: #303031;
  color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
}
